# ignore
*main.c
_putchar.c
0x05-pointers_arrays_strings/4-print_rev
0x05-pointers_arrays_strings/6-puts2
0x05-pointers_arrays_strings/7-puts_half
0x05-pointers_arrays_strings/8-print_array
0x05-pointers_arrays_strings/5-rev_string
0x05-pointers_arrays_strings/9-strcpy
0x06-pointers_arrays_strings/0-strcat
0x06-pointers_arrays_strings/1-strncat
0x06-pointers_arrays_strings/test.c
0x06-pointers_arrays_strings/4-rev_array
0x07-pointers_arrays_strings/1-memcpy
0x07-pointers_arrays_strings/2-strchr
0x07-pointers_arrays_strings/4-strpbrk
0x07-pointers_arrays_strings/4-strpbrk.c
